.env
Old_gen_ai
gen_ai
gen_ai_code
gen_ai_errors
gen_ai_results
gen_ai_summaries
gen_ai_history
pyds
base.py
./*_gen_ai
12_01_25_gen_ai
./models
idea/
prompts
__pycache__
testing.py
seen.md
agent.md
renew.py
readline_history.txt
classesandfunctionsCheck.py
checkImageSystem.py
guideline.md
systemOutline.md

screenshots
Bot/build/code/cli/next/utils/nextBuilder/base/migrations/*.js
Bot/build/code/cli/next/utils/nextBuilder/base/data/*.json
Bot/build/code/cli/next/utils/nextBuilder/base/.env.local
Bot/build/code/cli/next/utils/nextBuilder/base/data_macho/*.json
Bot/build/code/cli/next/utils/nextBuilder/base/public/logofinal.png
Bot/build/code/cli/next/utils/nextBuilder/base/public_macho/logofinal.png
Bot/build/code/cli/next/utils/nextBuilder/base/app.js


interest
similar_code_report.md
orCode.py
copy_to_idea.py
checkImageSystem.py
models/llms/models--unsloth--DeepSeek-R1-Distill-Qwen-1.5B-GGUF/blobs/af3a3fc64d7d0b18f15f28feabad5718d620dc5626a5c1eabad33ddc2b5d09a9
models/llms/models--unsloth--DeepSeek-R1-Distill-Qwen-1.5B-GGUF/refs/main
models/llms/models--unsloth--DeepSeek-R1-Distill-Qwen-1.5B-GGUF/snapshots/9784122b3247cc074b19c42bf38ee256d8aacce7/DeepSeek-R1-Distill-Qwen-1.5B-Q8_0.gguf

models

results
Flexi
request

agv2Base/video_gen.py
agv2Base/vv_gen.py
agv2Base/vvgui_gen.py
agv2Base/constants.py


agv2Base

video/gen/*
.gitignore
video/gen/generated_topic_text.txt
video/gen/generated_topic_text copy.txt
video/gen/generated_video_with_voice.mp4
video/gen/topics.json
.gitignore
history/test_sesssion_1.json
gui_vv_gen.py
video/code/audio.py
video/code/config.py
video/code/frames.py
video/code/gui.py
video/code/inference.py
video/code/topics.py
video/code/video.py
video/gui_vv_gen.py
Modelfile
system_prompts/flexi.txt
history/vibe.json
