.env
Old_gen_ai
gen_ai
gen_ai_code
gen_ai_errors
gen_ai_results
gen_ai_summaries
gen_ai_history
pyds
base.py

idea/
prompts
__pycache__
testing.py
seen.md
renew.py
readline_history.txt
classesandfunctionsCheck.py
guideline.md
systemOutline.md
